*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ------header------ */

header h1{
    color: rgb(38, 186, 235);
    padding: 10px 0;
}

nav div{
    text-align: center;
    color: white;
    background-color: rgb(38, 186, 235);
    padding: 20px 0;
}

/* --------main------ */

main{
    height: calc(100vh - 117px);
    width: 100%;
    overflow-y: scroll;
    display: flex;
    flex-wrap: wrap;
}

.icon-box{
    font-size: 35px;
    min-width: 200px;
    width: calc((100% / 5) - 60px);
    height: 170px;
    border: 1px solid black;
    background-color: pink;    
    margin: 10px 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main::after{
    content: '';
    display: table;
    clear: both;
}

.icon-name{
    font-size: 20px;
}